In [4]:
import pandas as pd

In [5]:
grid_table = pd.read_csv('./grid_table.csv', sep = ";")

In [6]:
grid_table.head()

,subj_full,fed_district_full,fed_district_short,subj_alt_rus,subj_eng,subj_rus,col,row
0,Алтайский край,Сибирский федеральный округ,СФО,Ал. к.,ALK,АЛТК,12,5
1,Амурская область,Дальневосточный федеральный округ,ДФО,Амур,AMU,АМУР,15,3
2,Архангельская область,Северо-Западный федеральный округ,СЗФО,Арх,ARH,АРХ,8,2
3,Астраханская область,Южный федеральный округ,ЮФО,Аст,AST,АСТ,7,8
4,Белгородская область,Центральный федеральный округ,ЦФО,Бел,BEL,БЕЛ,4,7